@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: theme('fontFamily.font-family-primary');
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}